@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@450&display=swap');


*{
    font-family: "Montserrat", sans-serif;
}
.home{
    background-color: #f1f2f2;
      padding-bottom: 50px;
}










